<!DOCTYPE html>
<html lang="en">
  <!-- doccure/doctor-profile-settings.html  30 Nov 2019 04:12:14 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Doccure</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="../../assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/plugins/fontawesome/css/all.min.css"
    />

    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="../../assets/plugins/select2/css/select2.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="../../assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css"
    />

    <link
      rel="stylesheet"
      href="../../assets/plugins/dropzone/dropzone.min.css"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.min.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Profile Settings
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Profile Settings</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                      <img [src]="newInfo.profilePic" alt="User Image" />
                    </a>
                    <div class="profile-det-info">
                      <h3>Dr {{ newInfo.username }}</h3>

                      <div class="patient-details">
                        <h5 class="mb-0">
                          {{
                            this.newInfo.specialization == null
                              ? "Services and Specialization"
                              : this.newInfo.services +","+
                                this.newInfo.specialization
                          }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <li>
                        <a routerLink="/doctorProfile">
                          <i class="fas fa-columns"></i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="appointments.html">
                          <i class="fas fa-calendar-check"></i>
                          <span>Appointments</span>
                        </a>
                      </li>
                      <li>
                        <a href="my-patients.html">
                          <i class="fas fa-user-injured"></i>
                          <span>My Patients</span>
                        </a>
                      </li>
                      <li>
                        <a href="schedule-timings.html">
                          <i class="fas fa-hourglass-start"></i>
                          <span>Schedule Timings</span>
                        </a>
                      </li>
                      <li>
                        <a href="invoices.html">
                          <i class="fas fa-file-invoice"></i>
                          <span>Invoices</span>
                        </a>
                      </li>
                      <li>
                        <a href="reviews.html">
                          <i class="fas fa-star"></i>
                          <span>Reviews</span>
                        </a>
                      </li>
                      <li>
                        <a href="chat-doctor.html">
                          <i class="fas fa-comments"></i>
                          <span>Message</span>
                          <small class="unread-msg">23</small>
                        </a>
                      </li>
                      <li class="active">
                        <a href="doctor-profile-settings.html">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>
                      <li>
                        <a href="social-media.html">
                          <i class="fas fa-share-alt"></i>
                          <span>Social Media</span>
                        </a>
                      </li>
                      <li>
                        <a href="doctor-change-password.html">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="index-2.html">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- /Profile Sidebar -->
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
              <form
                action=""
                (ngSubmit)="saveall()"
                venctype="multipart/form-data"
              >
                <!-- Basic Information -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Basic Information</h4>
                    <div class="row form-row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="change-avatar">
                            <div class="profile-img">
                              <img
                                [src]="userInfo.profilePic"
                                alt="User Image"
                              />
                            </div>
                            <div class="upload-img">
                              <div class="change-photo-btn">
                                <span
                                  ><i class="fa fa-upload"></i> Upload
                                  Photo</span
                                >
                                <input
                                  (change)="onFileChange($event)"
                                  class="profilePic"
                                  type="file"
                                />
                              </div>
                              <small class="form-text text-muted"
                                >Allowed JPG, GIF or PNG. Max size of 2MB</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >Username <span class="text-danger">*</span></label
                          >
                          <input
                            [(ngModel)]="newInfo.username"
                            type="text"
                            class="form-control"
                            name="username"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >Email <span class="text-danger">*</span></label
                          >
                          <input
                            [(ngModel)]="newInfo.email"
                            name="email"
                            type="email"
                            class="form-control"
							
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >First Name
                            <span class="text-danger">*</span></label
                          >
						  <input
						  type="text"
						  class="form-control"
						  [(ngModel)]="newInfo.firstname"
						  name="firstname"
						/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label
                            >Last Name <span class="text-danger">*</span></label
                          >
                          
						  <input
						  type="text"
						  class="form-control"
						  [(ngModel)]="newInfo.lastname"
						  name="lastname"
						  
						/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Phone Number</label>
                          <input
                            [(ngModel)]="newInfo.number"
                            name="number"
                            type="text"
                            class="form-control"
							readonly
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Gender</label>
                          <select
                            [(ngModel)]="newInfo.gender"
                            name="gender"
                            class="form-control select"
                          >
                            <option>Select</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group mb-0">
                          <label>Date of Birth</label>
                          <input
                            [(ngModel)]="newInfo.dob"
                            name="dob"
                            type="date"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Basic Information -->

                <!-- About Me -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">About Me</h4>
                    <div class="form-group mb-0">
                      <label>Biography</label>
                      <textarea
                        [(ngModel)]="newInfo.bio"
                        name="bio"
                        class="form-control"
                        rows="5"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <!-- /About Me -->

                <!-- Clinic Info -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Clinic Info</h4>
                    <div class="row form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Clinic Name</label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Clinic Address</label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Clinic Images</label>
                          <form action="#" class="dropzone"></form>
                        </div>
                        <div class="upload-wrap">
                          <div class="upload-images">
                            <img
                              src="../../assets/img/features/feature-01.jpg"
                              alt="Upload Image"
                            />
                            <a
                              href="javascript:void(0);"
                              class="btn btn-icon btn-danger btn-sm"
                              ><i class="far fa-trash-alt"></i
                            ></a>
                          </div>
                          <div class="upload-images">
                            <img
                              src="../../assets/img/features/feature-02.jpg"
                              alt="Upload Image"
                            />
                            <a
                              href="javascript:void(0);"
                              class="btn btn-icon btn-danger btn-sm"
                              ><i class="far fa-trash-alt"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Clinic Info -->

                <!-- Contact Details -->
                <div class="card contact-card">
                  <div class="card-body">
                    <h4 class="card-title">Contact Details</h4>
                    <div class="row form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Address Line 1</label>
                          <input
                            [(ngModel)]="newInfo.address"
                            name="address"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">City</label>
                          <input
                            [(ngModel)]="newInfo.city"
                            name="city"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">State / Province</label>
                          <input
                            [(ngModel)]="newInfo.state"
                            name="state"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Country</label>
                          <input
                            [(ngModel)]="newInfo.country"
                            name="country"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label"
                            >Postal Code / Zipcode</label
                          >
                          <input
                            [(ngModel)]="newInfo.zipcode"
                            name="zipcode"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Contact Details -->

                

                <!-- Services and Specialization -->
                <div class="card services-card">
                  <div class="card-body">
                    <h4 class="card-title">Services and Specialization</h4>
                    <div class="form-group">
                      
                      <mat-accordion>
                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Speciality
                            </mat-panel-title>
                           
                          </mat-expansion-panel-header>
                         
                          <mat-form-field>
                            <mat-label>Speciality <span class="text-danger">*</span> </mat-label>
                            <mat-select name="specialization"  [(ngModel)]="newInfo.specialization">
                              <mat-option>None</mat-option>
                              <mat-option value="Cardiology">Cardiology</mat-option>
                              <mat-option value="Neurology">Neurology</mat-option>
                              <mat-option value="Urology">Urology</mat-option>
                            </mat-select>
                          </mat-form-field>
                            <main class="d-flex justify-content-between align-items-center my-3">
                              <div>
                                <h6>Service </h6>
                                <mat-form-field>
                                  <mat-label>Servies <span class="text-danger">*</span> </mat-label>
                                  <mat-select name="services" [(ngModel)]="newInfo.services" >
                                    <mat-option>Select Service</mat-option>
                                    
                                    <mat-option value="Surgery">Surgery</mat-option>
                                    <mat-option value="General Checkup">General CheckUp</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div>
                                <h6>Price ($)</h6>
                                <input class="form-control" type="text" name="price" [(ngModel)]="newInfo.price">
                              </div>
                            </main>
                            

                        </mat-expansion-panel>


                        <p>services</p>
                      </mat-accordion>
                      
                      
                      
                      
                      
                    </div>
                    
                  </div>
                </div>
                <!-- /Services and Specialization -->

                <!-- Education -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Education</h4>
                    <div class="education-info">
                      <div class="row form-row education-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                          <div class="row form-row">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>Degree</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>College/Institute</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>Year of Completion</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="add-more">
                      <a href="javascript:void(0);" class="add-education"
                        ><i class="fa fa-plus-circle"></i> Add More</a
                      >
                    </div>
                  </div>
                </div>
                <!-- /Education -->

                <!-- Experience -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Experience</h4>
                    <div class="experience-info">
                      <div class="row form-row experience-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                          <div class="row form-row">
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>Hospital Name</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>From</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>To</label>
                                <input
                                  
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                              <div class="form-group">
                                <label>Designation</label>
                                <input
                                 
                                  type="text"
                                  class="form-control"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="add-more">
                      <a href="javascript:void(0);" class="add-experience"
                        ><i class="fa fa-plus-circle"></i> Add More</a
                      >
                    </div>
                  </div>
                </div>
                <!-- /Experience -->

                <!-- Awards -->
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Awards</h4>
                    <div class="awards-info">
                      <div class="row form-row awards-cont">
                        <div class="col-12 col-md-5">
                          <div class="form-group">
                            <label>Awards</label>
                            <input
                              
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                        <div class="col-12 col-md-5">
                          <div class="form-group">
                            <label>Year</label>
                            <input
                              
                              type="text"
                              class="form-control"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="add-more">
                      <a href="javascript:void(0);" class="add-award"
                        ><i class="fa fa-plus-circle"></i> Add More</a
                      >
                    </div>
                  </div>
                </div>
                <!-- /Awards -->

                <div class="submit-section submit-btn-bottom">
                  <button type="submit" class="btn btn-primary submit-btn">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img src="../../assets/img/footer-logo.png" alt="logo" />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-dribbble"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li>
                      <a href="search.html"
                        ><i class="fas fa-angle-double-right"></i> Search for
                        Doctors</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="booking.html"
                        ><i class="fas fa-angle-double-right"></i> Booking</a
                      >
                    </li>
                    <li>
                      <a href="patient-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Patient
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li>
                      <a href="appointments.html"
                        ><i class="fas fa-angle-double-right"></i>
                        Appointments</a
                      >
                    </li>
                    <li>
                      <a href="chat.html"
                        ><i class="fas fa-angle-double-right"></i> Chat</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="doctor-register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="doctor-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Doctor
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>
                        3556 Beech Street, San Francisco,<br />
                        California, CA 94108
                      </p>
                    </div>
                    <p>
                      <i class="fas fa-phone-alt"></i>
                      +1 315 369 5943
                    </p>
                    <p class="mb-0">
                      <i class="fas fa-envelope"></i>
                      doccure&#64;example.com
                    </p>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0">
                      <a href="templateshub.net">Templates Hub</a>
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li>
                        <a href="term-condition.html">Terms and Conditions</a>
                      </li>
                      <li><a href="privacy-policy.html">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="../../assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="../../assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="../../assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Select2 JS -->
    <script src="../../assets/plugins/select2/js/select2.min.js"></script>

    <!-- Dropzone JS -->
    <script src="../../assets/plugins/dropzone/dropzone.min.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="../../assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

    <!-- Profile Settings JS -->
    <script src="../../assets/js/profile-settings.js"></script>

    <!-- Custom JS -->
    <script src="../../assets/js/script.js"></script>
  </body>

  <!-- doccure/doctor-profile-settings.html  30 Nov 2019 04:12:15 GMT -->
</html>
