<!DOCTYPE html>
<html lang="en">
  <!-- doccure/schedule-timings.html  30 Nov 2019 04:12:09 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Doccure</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="../../assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/plugins/fontawesome/css/all.min.css"
    />

    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="../../assets/plugins/select2/css/select2.min.css"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.min.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Breadcrumb -->
      <div class="breadcrumb-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index-2.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Schedule Timings
                  </li>
                </ol>
              </nav>
              <h2 class="breadcrumb-title">Schedule Timings</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- /Breadcrumb -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                      <img [src]="userInfo.profilePic" alt="User Image" />
                    </a>
                    <div class="profile-det-info">
                      <h3>Dr {{ userInfo.firstname }}</h3>

                      <div class="patient-details">
                        <h5 class="mb-0">
                          {{
                            this.userInfo.specialization == null
                              ? "Services and Specialization"
                              : this.userInfo.services +
                                "," +
                                this.userInfo.specialization
                          }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <li>
                        <a routerLink="/doctorProfile">
                          <i class="fas fa-columns"></i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/doctors-appointment">
                          <i class="fas fa-calendar-check"></i>
                          <span>Appointments</span>
                        </a>
                      </li>
                      <li>
                        <a href="my-patients.html">
                          <i class="fas fa-user-injured"></i>
                          <span>My Patients</span>
                        </a>
                      </li>
                      <li class="active">
                        <a href="schedule-timings.html">
                          <i class="fas fa-hourglass-start"></i>
                          <span>Schedule Timings</span>
                        </a>
                      </li>
                      <li>
                        <a href="invoices.html">
                          <i class="fas fa-file-invoice"></i>
                          <span>Invoices</span>
                        </a>
                      </li>
                      <li>
                        <a href="reviews.html">
                          <i class="fas fa-star"></i>
                          <span>Reviews</span>
                        </a>
                      </li>
                      <li>
                        <a href="chat-doctor.html">
                          <i class="fas fa-comments"></i>
                          <span>Message</span>
                          <small class="unread-msg">23</small>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/doctor-settings">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>
                      <li>
                        <a href="social-media.html">
                          <i class="fas fa-share-alt"></i>
                          <span>Social Media</span>
                        </a>
                      </li>
                      <li>
                        <a href="doctor-change-password.html">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="index-2.html">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- /Profile Sidebar -->
            </div>

    <div class="col-md-7 col-lg-8 col-xl-9">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Schedule Timings</h4>
              <div class="profile-box">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Timing Slot Duration</label>
                      <select class="select form-control">
                        <option>-</option>
                        <option>15 mins</option>
                        <option selected="selected">30 mins</option>
                        <option>45 mins</option>
                        <option>1 Hour</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div [ngSwitch]="activeDay" class="col-md-12">
                    <div class="card schedule-widget mb-0">
                      <!-- Schedule Header -->
                      <div class="schedule-header">
                        <!-- Schedule Nav -->
                        <div class="schedule-nav">
                          <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                              <a
                                [class.active]="activeDay === 'sunday'"
                                (click)="setActiveDay('sunday')"
                                class="nav-link"
                                >Sunday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="activeDay === 'monday'"
                                (click)="setActiveDay('monday')"
                                class="nav-link"
                                >Monday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="activeDay === 'tuesday'"
                                (click)="setActiveDay('tuesday')"
                                class="nav-link"
                                >Tuesday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="
                                  activeDay === 'wednesday'
                                "
                                (click)="setActiveDay('wednesday')"
                                class="nav-link"
                                >Wednesday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="
                                  activeDay === 'thursday'
                                "
                                (click)="setActiveDay('thursday')"
                                class="nav-link"
                                >Thursday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="activeDay === 'friday'"
                                (click)="setActiveDay('friday')"
                                class="nav-link"
                                >Friday</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                [class.active]="
                                  activeDay === 'saturday'
                                "
                                (click)="setActiveDay('saturday')"
                                class="nav-link"
                                >Saturday</a
                              >
                            </li>
                          </ul>
                        </div>
                        <!-- /Schedule Nav -->
                      </div>
                      <!-- /Schedule Header -->

                      <!-- Schedule Content -->
                      <div class="tab-content schedule-cont">
                        <!-- Sunday Slot -->
                        <div *ngSwitchCase="'sunday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a class="edit-link" (click)="toggleViSun()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>

                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isSundayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Sunday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Sunday Slot -->

                        <!-- Monday Slot -->
                        <div *ngSwitchCase="'monday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a class="edit-link" (click)="toggleViMon()"
                              ><i class="fa fa-edit mr-1"></i>Edit</a
                            >
                          </h4>

                          <!-- Slot List -->
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isMondayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Monday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                          <!-- /Slot List -->
                        </div>
                        <!-- /Monday Slot -->

                        <!-- Tuesday Slot -->
                        <div *ngSwitchCase="'tuesday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a
                              class="edit-link"
                              (click)="toggleViTues()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isTuesdayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Tuesday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Tuesday Slot -->

                        <!-- Wednesday Slot -->
                        <div *ngSwitchCase="'wednesday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a class="edit-link" (click)="toggleViWed()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isWednesdayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Wednesday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Wednesday Slot -->

                        <!-- Thursday Slot -->
                        <div *ngSwitchCase="'thursday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a
                              class="edit-link"
                              (click)="toggleViThurs()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isThursdayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Thursday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Thursday Slot -->

                        <!-- Friday Slot -->
                        <div *ngSwitchCase="'friday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a class="edit-link" (click)="toggleViFri()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isFridayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Friday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Friday Slot -->

                        <!-- Saturday Slot -->
                        <div *ngSwitchCase="'saturday'">
                          <h4
                            class="card-title d-flex justify-content-between"
                          >
                            <span>Time Slots</span>
                            <a class="edit-link" (click)="toggleViSat()"
                              ><i class="fa fa-plus-circle"></i> Add
                              Slot</a
                            >
                          </h4>
                          <div *ngIf="fetchSchedule" class="try">
                            <ng-container
                              *ngIf="
                                isSaturdayAvailable();
                                else notAvailable
                              "
                            >
                              <div 
                                *ngFor="let schedule of fetchSchedule"
                              >
                                <div
                                  
                                  *ngIf="schedule.dow === 'Saturday'"
                                >
                                  <p
                                    class="texto"
                                  >
                                    {{ schedule.startTime }} -
                                    {{ schedule.endTime }}
                                    <button class="btn btn-light rounded rounded-circle" (click)="del(schedule.id)">x</button>
                                  </p>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #notAvailable>
                              <div
                                class="d-flex mx-2 justify-content-around align-items-center"
                              >
                                <p class="text-dark text-bold">
                                  Not Available
                                </p>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <!-- /Saturday Slot -->
                      </div>
                      <!-- /Schedule Content -->
                    </div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          </div>
        </div>
        <main class="my-4 m-auto bg-black"></main>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img src="../../assets/img/footer-logo.png" alt="logo" />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" target="_blank"
                            ><i class="fab fa-dribbble"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li>
                      <a href="search.html"
                        ><i class="fas fa-angle-double-right"></i> Search for
                        Doctors</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="booking.html"
                        ><i class="fas fa-angle-double-right"></i> Booking</a
                      >
                    </li>
                    <li>
                      <a href="patient-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Patient
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li>
                      <a href="appointments.html"
                        ><i class="fas fa-angle-double-right"></i>
                        Appointments</a
                      >
                    </li>
                    <li>
                      <a href="chat.html"
                        ><i class="fas fa-angle-double-right"></i> Chat</a
                      >
                    </li>
                    <li>
                      <a href="login.html"
                        ><i class="fas fa-angle-double-right"></i> Login</a
                      >
                    </li>
                    <li>
                      <a href="doctor-register.html"
                        ><i class="fas fa-angle-double-right"></i> Register</a
                      >
                    </li>
                    <li>
                      <a href="doctor-dashboard.html"
                        ><i class="fas fa-angle-double-right"></i> Doctor
                        Dashboard</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- /Footer Widget -->
              </div>

              <div class="col-lg-3 col-md-6">
                <!-- Footer Widget -->
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>
                        3556 Beech Street, San Francisco,<br />
                        California, CA 94108
                      </p>
                    </div>
                    <p>
                      <i class="fas fa-phone-alt"></i>
                      +1 315 369 5943
                    </p>
                    <p class="mb-0">
                      <i class="fas fa-envelope"></i>
                      doccure&#64;example.com
                    </p>
                  </div>
                </div>
                <!-- /Footer Widget -->
              </div>
            </div>
          </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0">
                      <a href="templateshub.net">Templates Hub</a>
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li>
                        <a href="term-condition.html">Terms and Conditions</a>
                      </li>
                      <li><a href="privacy-policy.html">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Add Time Slot Modal -->
    <!--sunday Time slot Modal-->
    <div class="flew" [style.display]="isViSun ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sunday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoSun()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subSun()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of sunslow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreSun()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--sunday Time slot Modal-->
    <!--Monday Time slot Modal-->
    <div class="flew" [style.display]="isViMon ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Monday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoMon()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subMon()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of monSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreMon()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Monday Time slot Modal-->
    <!--Tuesday Time slot Modal-->
    <div class="flew" [style.display]="isViTues ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tuesday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoTues()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subTues()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of TuesSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreTues()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Tuesday Time slot Modal-->
    <!--Wednesday Time slot Modal-->
    <div class="flew" [style.display]="isViWed ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Wednesday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoWed()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subWed()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of wedSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreWed()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Wednesday Time slot Modal-->
    <!--Thursday Time slot Modal-->
    <div class="flew" [style.display]="isViThurs ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thursday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoThurs()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subThurs()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of ThursSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreThurs()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Thursday Time slot Modal-->
    <!--Friday Time slot Modal-->
    <div class="flew" [style.display]="isViFri ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Friday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoFri()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subFri()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of FriSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreFri()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Friday Time slot Modal-->
    <!--Saturday Time slot Modal-->
    <div class="flew" [style.display]="isViSat ? 'block' : 'none'">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Saturday Time Slots</h5>
            <button type="button" class="close" (click)="hideMoSat()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="subSat()">
              <div class="hours-info">
                <div
                  class="row form-row hours-cont"
                  *ngFor="let slot of satSlow; let i = index"
                >
                  <div class="col-12 col-md-10">
                    <div class="row form-row">
                      <div class="col-12 col-md-6">
                        <div class="form-group" >
                          <label>Start Time</label>
                          <select
                            name="startTime"
                            [(ngModel)]="slot.startTime"
                            [value]=""

                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label>End Time</label>
                          <select
                            name="endTime"
                            [(ngModel)]="slot.endTime"
                            class="form-control"
                          >
                            <option>-</option>
                            <option>12.00 am</option>
                            <option>12.30 am</option>
                            <option>1.00 am</option>
                            <option>1.30 am</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="add-more mb-3">
                <a (click)="addMoreSat()" class="add-hours"
                  ><i class="fa fa-plus-circle"></i> Add More</a
                >
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Saturday Time slot Modal-->
    <!-- /Add Time Slot Modal -->

    <!-- Edit Time Slot Modal -->
    <div class="modal fade custom-modal" id="edit_time_slot"></div>
    <!-- /Edit Time Slot Modal -->

    <!-- jQuery -->
    <script src="../../assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="../../assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="../../assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Select2 JS -->
    <script src="../../assets/plugins/select2/js/select2.min.js"></script>

    <!-- Custom JS -->
    <script src="../../assets/js/script.js"></script>
  </body>

  <!-- doccure/schedule-timings.html  30 Nov 2019 04:12:09 GMT -->
</html>
